<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <title>404</title>
    <!-- @entry -->
    <!-- @require ./css/404.css -->
    <!-- @seajs.use ./js/404.js -->
  </head>
  <body>
    <p>This is 404 page.</p>
  </body>
</html>